body
{
	margin: 0;
}

html {
	overflow-y: hidden;
}

.mainFooter {
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	max-width: 100vw;
	min-height: 100%;
	flex: 100%;
	display: flex;
}

.footer {
	height: 31px;
	background-color: rgb(40, 40, 40);
	width: 100%;
	display: flex;
}

.footerLeft {
	min-width: 300px;
	border-right: 1px solid white;
	display: flex;
	transition-property: width, min-width;
	transition-duration: 0.15s;
	overflow: hidden;
}

.settings {
	flex: 4;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
}

.svgSettings:hover {
	cursor: pointer;
}

.menu {
	flex: 1;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.svgMenu:hover {
	cursor: pointer;
}

.footerRight {
	width: 100%;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.svgMassage:hover {
	cursor: pointer;
}

.leftColumn {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-width: 300px;
	transition-property: width, min-width;
	transition-duration: 0.15s;
	overflow: hidden;
}

.upOrders {
	height: 30px;
	display: flex;
	min-height: 30px;
	color: rgba(0, 0, 0, 0.5);
}

input {
	width: 100%;
	top: 5px;
}

.svgRight {
	flex: 37%;
	text-indent: 10px;
}

.svgPointer:hover {
	cursor: pointer;
}

.textUpOrder {
	flex: 63%;
}

.orders {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.order {
	min-height: 100px;
	border-top: 1px solid rgba(169, 169, 169, 0.3);
	padding: 10px 10px 10px 10px;
}

.order:first-child {
	border: none;
}

.order:hover {
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.leftOrderDate {
	display: flex;
	justify-content: space-between;
}

.leftOrderInfo {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.leftOrderInfo p {
	text-indent: 0;
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
}

.status {
	font-size: 13px;
	color: green;
}

p {
	text-indent: 15px;
}

.rightColumn {
	display: flex;
	width: 100%;
	flex-direction: column;
}

header {
	text-align: center;
	border-bottom: 1px solid rgba(169, 169, 169, 0.3);
	background-color: rgba(0, 72, 166, 0.07);
	color: rgba(0, 0, 0, 0.5);
}

.rightColumWOHeader {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.orderInfo {
	background-color: rgba(0, 72, 166, 0.07);
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	padding-top: 10px;
}

.orderInfoBlock {
	margin: 0px 35px 15px 35px;
}

.orderInfoBlock p {
	text-indent: 0;
	font-size: 13px;
}

.svg {
	margin-left: 12px;
	display: flex;
	width: 150px;
	justify-content: space-around;
	height: 50px;
	padding: 5px;
}

.svgCar {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(70, 130, 180);
	border-radius: 50%;
}

.svgCar:hover {
	cursor: pointer;
}

.svgMan {
	border: 1px solid rgb(70, 130, 180);
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.svgMan:hover {
	cursor: pointer;
}

.orderPrice {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500; 
}

.orderedShipped {
	color: rgba(0, 0, 0, 0.6);
}

.addressOrInfo {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	margin: 0;
	padding-top: 10px;
}

.twoBlocksAdress {
	margin: 0px 25px 15px 25px;
}

.shippingAdress {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	font-size: 17px;
	padding: 5px 10px 5px 10px;
}

.info {
	display: flex;
	margin-top: 5px;
	text-align: center;
	font-size: 13px;
 }

.pattern {
	text-align: right;
	flex: 1;
	color: rgba(0, 0, 0, 0.6);
}

.patternInfo {
	text-align: left;
	padding-left: 10px;
	flex: 3;
}

.items {
	padding-top: 10px;
	background-color: rgb(248, 248, 255);
	flex: 100%;
}

.twoBlocksItems {
	margin: 0px 25px 15px 25px;
}

.lineItems {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	font-size: 17px;
	padding: 5px 10px 5px 10px;
}

.products {
	font-size: 13px;
}

.item, .itemHeader {
	display: flex;
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	padding: 3px 10px 3px 10px;
}

.item {
	background-color: rgb(255, 255, 255);
}

b {
	color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 700px)
{
	.leftColumn {
		width: 0;
		min-width: 0; 
	}

	.footerLeft {
		width: 0;
		min-width: 0; 
		border: none;
	}
}

.orders::-webkit-scrollbar {
		width: 12px;
}

.orders::-webkit-scrollbar-track {
	background: white;
}

.orders::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
}

.rightColumWOHeader::-webkit-scrollbar {
		width: 12px;
}

.rightColumWOHeader::-webkit-scrollbar-track {
	background: white;
}

.rightColumWOHeader::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
}