body
{
	margin: 0;
}

html {
	overflow-y: hidden;
}

.main-footer {
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	max-width: 100vw;
	min-height: 100%;
	flex: 100%;
	display: flex;
}



/*--------------LEFT COLUMN--------------*/
.left-column {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-width: 300px;
	transition-property: width, min-width;
	transition-duration: 0.15s;
	overflow: hidden;
}

.up-orders {
	height: 30px;
	display: flex;
	min-height: 30px;
	color: rgba(0, 0, 0, 0.5);
}

.finder {
	width: 100%;
	background-color: red;
}

form {
	padding: 0 2px 1px 2px;
	display: flex;
}

input {
	border:none;
	outline: none;
	flex: 80%;
	font-style: italic;
	padding-left: 3px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.svg-search {
	text-align: center;
	flex: 10%;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.svg-search img {
	height: 12px;
	width: 12px;
	margin-bottom: 2px;
}

.svg-search img:hover {
	cursor: pointer;
}

.svg-update {
	text-align: center;
	flex: 10%;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.svg-update img {
	height: 14px;
	width: 14px;
	margin-bottom: 2px;
}

.svg-update img:hover {
	cursor: pointer;
}

.right {
	flex: 37%;
	text-indent: 10px;
}

.svg-right {
	height: 15px;
	width: 15px;
}

.svg-right:hover {
	cursor: pointer;
}

.text-up-order {
	flex: 63%;
}

.orders {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.order {
	min-height: 100px;
	border-top: 1px solid rgba(169, 169, 169, 0.3);
	padding: 10px 10px 10px 10px;
}

.order:first-child {
	border: none;
}

.order:hover {
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.left-num-date {
	display: flex;
}

.order-num {
	font-size: 15px;
	font-weight: 500;
	flex: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.order-date {
	font-size: 17px; 
	font-weight: 500; 
	flex: 50%; 
	text-align: right;
}

.left-order-info {
	display: flex;
	padding-top: 5px;
}

.left-order-info p {
	text-indent: 0;
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
}

.order-shipped {
	flex: 3;
}	

.status {
	flex: 1;
	font-size: 13px;
	color: green;
	text-align: right;
}

p {
	text-indent: 15px;
}
/*---------------------------------*/



/*----------RIGHT COLUMN-----------*/
.right-column {
	display: flex;
	width: 100%;
	flex-direction: column;
}

/*---------HEADER---------*/

header div {
	text-align: center;
	border-bottom: 1px solid rgba(169, 169, 169, 0.3);
	background-color: rgba(0, 72, 166, 0.07);
	color: rgba(0, 0, 0, 0.5);
}

.svg-text-lines {
	height: 15px;
	width: 15px;
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	display: none;
}

.svg-text-lines:hover {
	cursor: pointer;
}
/*------------------------*/

.right-column-wo-header {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.order-info {
	background-color: rgba(0, 72, 166, 0.07);
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	padding-top: 10px;
}

.order-info-block {
	margin: 0px 35px 15px 35px;
}

.order-price {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500; 
}

.left-price {
	flex: 70%;
}

.price {
	flex: 30%;
	text-align: right;
}

.eur {
	color: rgba(0, 0, 0, 0.6) !important;
	font-size: 13px;
}

.order-info-block p {
	text-indent: 0;
	font-size: 13px;
}

.svg {
	margin-left: 12px;
	display: flex;
	width: 150px;
	justify-content: space-around;
	height: 50px;
	padding: 5px;
}

.svg-car {
	width: 40px;
	height: 40px;
	border: 2px solid rgb(70, 130, 180);
	border-radius: 50%;
	padding-left: 5px;
	padding-top: 3px;
	background-color: rgb(70, 130, 180);
}

.svg-car img {
	width: 27px;
	height: 27px;
}

.svg-car:hover {
	cursor: pointer;
}

.svg-man {
	border: 2px solid rgb(70, 130, 180);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding-left: 7px;
	padding-top: 3px;
}

.svg-man img {
	width: 22px;
	height: 22px;
}

.svg-man:hover {
	cursor: pointer;
}

.ordered-shipped {
	color: rgba(0, 0, 0, 0.6);
}

.address-or-info {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	margin: 0;
}

.two-blocks-adress-1 {
	margin: 10px 25px 15px 25px;
}

.shipping-adress-1 {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	font-size: 17px;
	padding: 5px 10px 5px 10px;
}

.info-1 {
	display: flex;
	margin-top: 5px;
	text-align: center;
	font-size: 13px;
 }

.pattern-1 {
	text-align: right;
	flex: 1;
	color: rgba(0, 0, 0, 0.6);
}

.pattern-info-1 {
	text-align: left;
	padding-left: 10px;
	flex: 3;
}

.two-blocks-adress-2 {
	display: none;
}

.shipping-adress-2 {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	font-size: 17px;
	width: 100%;
	padding: 5px 15px 5px 15px;
}

.info-2 {
	padding: 5px 15px 5px 15px;
	font-size: 13px;
}

.line-info {
	padding-bottom: 10px;
}

.line-info:last-child {
	padding-bottom: 0 !important;
}

.pattern-2 {
	color: rgba(0, 0, 0, 0.6);
}

.items {
	background-color: rgb(248, 248, 255);
	flex: 100%;
}

.two-blocks-items-1 {
	margin: 0px 25px 15px 25px;
}

.line-items-1 {
	font-size: 17px;
	padding: 15px 10px 5px 10px;
}

.products-1 {
	font-size: 13px;
}

.item-header-1 {
	background-color: rgb(240, 240, 240);
	border-top: 2px solid rgba(169, 169, 169, 0.3);
}

.item-1, .item-header-1 {
	display: flex;
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	padding: 3px 10px 3px 10px;
}

.item-1 {
	background-color: rgb(255, 255, 255);
}

.head-item-description-1 {
	flex: 1;
}

.item-description-1 {
	flex: 1;
	text-align: right
}

b {
	color: rgba(0, 0, 0, 0.7);
}

.two-blocks-items-2 {
	display: none;
}

.line-items-2 {
	font-size: 17px;
	padding: 5px 15px 5px 15px;
}

.products-2 {
	font-size: 13px;
}

.item-header-2 {
	background-color: rgb(240, 240, 240);
	border-top: 2px solid rgba(169, 169, 169, 0.3);
}

.item-2, .item-header-2 {
	border-bottom: 2px solid rgba(169, 169, 169, 0.3);
	padding: 5px 15px 5px 15px;
}

.item-2 {
	background-color: rgb(255, 255, 255);
}

.item-2:last-child {
	border: none;
}

.item-description-2 {
	padding-bottom: 10px; 
}

.item-description-2:last-child {
	padding-bottom: 0 !important;
}
/*----------------------------------------*/



/*---------------FOOTER---------------*/
.footer {
	height: 31px;
	background-color: rgb(40, 40, 40);
	width: 100%;
	display: flex;
}

.footer-left {
	min-width: 300px;
	border-right: 1px solid white;
	display: flex;
	transition-property: width, min-width;
	transition-duration: 0.15s;
	overflow: hidden;
}

.filter {
	flex: 4;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
}

.svg-filter {
	height: 16px;
	width: 16px;
}

.svg-filter:hover {
	cursor: pointer;
}

.menu {
	flex: 1;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.svg-menu {
	height: 15px;
	width: 15px;
}

.svg-menu:hover {
	cursor: pointer;
}

.footer-right {
	width: 100%;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

.svg-message {
	height: 17px;
	width: 17px;}

.svg-message:hover {
	cursor: pointer;
}
/*-------------------------------------*/



/*----------------MEDIA-----------------*/
@media (max-width: 900px) {
	.left-column {
		width: 0;
		min-width: 0; 
	}

	.footer-left {
		width: 0;
		min-width: 0; 
		border: none;
	}

	.svg-text-lines {
		display: block;
	}
}

@media (max-width: 600px) {
	.order-info-block {
		margin-left: 15px;
		margin-bottom: 15px;
	}

	.svg {
		margin-left: 0;
		padding-left: 0;
	}

	.two-blocks-adress-1 {
		display: none;
	}

	.two-blocks-adress-2 {
		display: block;
	}

	.two-blocks-items-1 {
		display: none;
	}

	.two-blocks-items-2 {
		display: block;
	}
}
/*---------------------------------------*/



/*--------------SCROLBARS----------------*/
.orders::-webkit-scrollbar {
		width: 12px;
}

.orders::-webkit-scrollbar-track {
	background: white;
}

.orders::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
}

.right-column-wo-header::-webkit-scrollbar {
		width: 12px;
}

.right-column-wo-header::-webkit-scrollbar-track {
	background: white;
}

.right-column-wo-header::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
}
/*----------------------------------------*/